<ion-header>
      <ion-toolbar>
        <ion-title>Inicio de sesion</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content >
  <img src="https://www.autosaltiro.cl/public/img/sliders/gestion-documental.png"/>
  <ion-item >
    <ion-label class="ion-text-center" position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="email" type="text" required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label  class="ion-text-center" position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="text" required></ion-input>
  </ion-item>

  <ion-button [routerLink]="['/inicio']" expand="block" type="submit"  color="light" >
    Iniciar sesion
  </ion-button>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-buttons expand="block">
    <ion-button expand="block" [routerLink]="['/recupass']">
      <ion-icon color="light" ></ion-icon>
      <ion-icon color="light" ></ion-icon>
      <ion-icon color="warning" name="warning"></ion-icon>
      <ion-icon color="light"></ion-icon>
        <ion-text>Olvidaste tu Contraseña?</ion-text>

    </ion-button>

  </ion-buttons>
