<ion-header>
      <ion-toolbar>
        <ion-title>Inicio de sesion</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content >
  <img src="https://www.autosaltiro.cl/public/img/sliders/gestion-documental.png"/>
  <ion-item >
    <ion-input [(ngModel)]='usuario' placeholder='Usuario'></ion-input>
  </ion-item>
  <ion-item >
    <ion-input placeholder='Nombre'></ion-input>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>nombre:{{nombreUsuario}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>Email:{{emailUsuario}}</ion-card-content>
  </ion-card>

  <ion-button (click)='buscarUsuario()' expand="block" type="submit"  color="light" >
    Iniciar sesion
  </ion-button>
  <ion-button [routerLink]="['/inicio']"  expand="block" type="submit"  color="primary" >
    Inicio
  </ion-button>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-buttons expand="block">
    <ion-button expand="block" [routerLink]="['/recupass']">
      <ion-icon color="light" ></ion-icon>
      <ion-icon color="light" ></ion-icon>
      <ion-icon color="light" name="light"></ion-icon>
      <ion-icon color="light"></ion-icon>
        <ion-text>Crea tu usuario</ion-text>

    </ion-button>

  </ion-buttons>
